@{
    ViewData["Title"] = "Home Page";
}

<section class="home-page">
    <img src="~/images/hero-image.png" alt="hero image" />
    <h1>Welcome to Church Movies App</h1>
    <p>
        This site is dedicated to showcasing movies with a Church theme.
        Explore movies such as "The RM," "The Other Side of Heaven," and "Meet the Mormons."
        Browse, search, and sort through these inspirational movies that teach about faith, family, and service.
    </p>
</section>
